backend/node_modules/
frontend/node_modules/
docker/
backend/package-lock.json
frontend/package-lock.json
backend/logs
backend/.idea
.idea
.env.backend
.env.backend.dev
**/node_modules
**/.idea
frontend/build
frontend/.idea
k8s/backend-env-secrets.yml
.DS_Store
__pycache__
secrets.py